<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=a80d25e1-c588-434a-a657-a3e80044f1a2.sqlserver.sequelizer.com;Database=dba80d25e1c588434aa657a3e80044f1a2;User ID=yivrfoiissgemkgz;Password=p7tZKQRYtJAzi26oHmuEGPecWsvgV6DDXbAsSzGpLawKg2k2UaHsdRwG2rcrtJdv;" />
  </connectionStrings>
</configuration>