<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=ba27a5ec-6e72-4a5a-8cca-a3e80049f0ae.sqlserver.sequelizer.com;Database=dbba27a5ec6e724a5a8ccaa3e80049f0ae;User ID=czpckqmdqbwnhlzz;Password=hCuUwmAgM2yAxp5c6bEjqdAhDzM8XXpyvfjXoq82CCBFocSxiYJq5SNecmp5GBqX;" />
  </connectionStrings>
</configuration>